<div>
    <video id="example_video_1" class="video-js vjs-default-skin vjs-fullscreen" controls preload="none" width="640" height="264" autoplay data-setup="{}">
        <source src="{{videoSrcType1}}" type='video/mp4' />
        <source src="{{videoSrcType2}}" type='video/webm' />
        <source src="{{videoSrcType3}}" type='video/ogg' />
        <track kind="captions" src="video/demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
        <track kind="subtitles" src="video/demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    </video>
</div>